:3002 {
    root * /srv

    handle /api/* {
        reverse_proxy portfolio-api:8000 {
            flush_interval -1
            transport http {
                versions 1.1
            }
        }
    }

    handle {
        file_server
        try_files {path} /index.html
    }
}
